@using DataLayer;
@{
    ViewData["Title"] = "Home Page";
}

@if(!LoginManager.Instance.IsLoggedIn)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            <a href="@Url.Action("Login", "Account")">Login</a> or <a href="@Url.Action("Register", "Account")">Register</a> to continue.
        </p>
    </div>
}
else
{
    <script type="text/javascript">
        window.location.href = '@Url.Action("Index", "ArtGallery")';
    </script>
}

